*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.bienvenida{
    display: inline-block;
    color: #0075f6;
}

.icon{
    display: inline-block;
}

.icon:hover {
    animation: wobble 1s;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    letter-spacing: 1px;
    padding: 10px 16px;
    background-color: white;
    z-index: 200;
    box-shadow: 0px 1px 1px rgb(230, 230, 230);
}

.interacciones{
    display: flex;
    justify-content: space-around;
    /* width: 40%; */
}

.container-links{
    display: flex;
    flex-direction: row;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    list-style: none;
    margin: auto;
}

.nav-list a{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #000;
}

.nav-list a:hover{
    text-decoration: underline;
    color: #0075f6;
}

.nav-inicio{
    font-size: 22px;
    padding-left: 4%;
}
.home:hover{
    text-shadow: 1px 1px 1px #919191;
}

.principal-imagen{
    width: 50%;
    position: relative;
    left: 40%;
}

.principal-imagen img{
    width: 100%;
}

.principal-texto{
    position: absolute;
    top: 200px;
    z-index: 100;
    left: 5%;
}

.principal-texto h1{
    font-size: 60px;
    font-weight: 900;
}

.principal-texto:hover .icon{
    animation: wobble 1s;
}

.descarga{
    display: inline-block;
    border: 2px solid #0075f6;
    margin-top: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
}

.descarga a{
    text-decoration: none;
    color: #0075f6;
}

.principal-texto h1 span{
    color: #0075f6;
}

.redes li img{
    width:2%;
}

section{
    margin-top: 80px;
}

.sobreMi{
    padding: 100px 0;
}

.container-sobreMi{
    display: flex;
}
.sobreMi-img{
    width: 800px;
    margin-left: 100px;
}
.sobreMi-texto{
    margin: 30px;
}
#fotoPrincipal{
    width: 100%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    /* font-size: 18px; */
    border: none;
    outline: none;
    background-color: #0077f696;
    cursor: pointer;
    border-radius: 60px;
    width: 50px;
    height: 50px;    
}
#myBtn img{
    height: 15px;
}
#myBtn:hover {
background-color:  #0075f6;
}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
.principal-imagen{
    width: 100%;
    left: 0%;
}
.principal-texto h1,p{
    color: white;
}
}

.estudios-img img{
width: 80px;
}

.idiomas img{
    width: 80px;
}

.despedida{
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    justify-content: center;
}
.despedida p{
    padding: 2px 0;
    margin: auto 0;
}

.proyectos .card-deck{
    margin-left: 0;
    margin-right: 0;
}