*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.bienvenida{
    display: inline-block;
    color: #0075f6;
}

.icon{
    display: inline-block;
}

.icon:hover {
    animation: wobble 1s;
}

header{
    width: 100%;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    letter-spacing: 1px;
    padding: 10px 16px;
    background-color: white;
    z-index: 200;
    box-shadow: 0px 1px 1px rgb(230, 230, 230);
}

.container-links{
    display: flex;
    flex-direction: row;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    list-style: none;
    margin: auto;
}

.nav-list a{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #000;
}

.nav-list a:hover{
    text-decoration: underline;
    color: #0075f6;
}

.nav-inicio{
    font-size: 22px;
    padding-left: 4%;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #0075f6;
}

.home:hover{
    text-shadow: 1px 1px 1px #919191;
}

.principal-imagen{
    width: 50%;
    position: relative;
    left: 40%;
}

.principal-imagen img{
    width: 100%;
}

.principal-texto{
    position: absolute;
    top: 200px;
    z-index: 100;
    left: 5%;
}

.principal-texto h1{
    font-size: 60px;
    font-weight: 900;
}

.principal-texto:hover .icon{
    animation: wobble 1s;
}

.descarga{
    display: inline-block;
    border: 2px solid #0075f6;
    margin-top: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
}

.descarga a{
    text-decoration: none;
    color: #0075f6;
}

.principal-texto h1 span{
    color: #0075f6;
}

.redes li img{
    width:30px;
}

section{
    margin-top: 80px;
}

article{
    padding: 50px 0;
}

article div h2{
    margin-bottom: 20px;
    text-align: center;
}

.container-sobreMi{
    display: flex;
}
.sobreMi-img{
    width: 800px;
    margin-left: 100px;
}
.sobreMi-texto{
    margin: 30px;
}
.sobreMi-texto h2{
    text-align: left;
}

#fotoPrincipal{
    width: 100%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    /* font-size: 18px; */
    border: none;
    outline: none;
    background-color: #0077f696;
    cursor: pointer;
    border-radius: 60px;
    width: 50px;
    height: 50px;    
}
#myBtn img{
    height: 15px;
}
#myBtn:hover {
background-color:  #0075f6;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .principal-imagen{
        width: 100%;
        left: 0%;
    }
    .principal-texto{
        top: 100px;
    }
    .principal-texto h1, .principal-texto p{
        color: white;
    }
    .container-links{
        font-size: smaller;
    }
    .container-sobreMi{
        display: block;
    }
    .sobreMi-img{
        width: 100%;
        margin: 0;
    }

    .hamburger{
        display: block;
      }
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
     .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
     .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
     .nav-list{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }
     .nav-item{
        margin: 16px 0;
      }
     .nav-list.active{
        left: 0;
      }
}

.estudios-img img{
width: 80px;
}

.idiomas img{
    width: 80px;
}

.proyectos .card-deck{
    margin-left: 0;
    margin-right: 0;
}

.estudios-cartas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudios .card{
    width: 60%;
}
.estudios .card-img{
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.experiencia .card{
    width: 60%;
}
.experiencia .card-img{
    width: 100%;
    position: relative;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.idiomas-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.idioma_caja{
    padding-top: 20px;
    width:100%;
    text-align: center;
}

.idioma_caja h4{
    text-decoration: underline wavy #0077f6c9;
}

.idioma{
    display: flex;
    flex-direction: row;
    width:100%;
}

.idioma:not(:last-child):after {
    content: "";
    border: 1px solid #0077f6c9;
    align-self: stretch;
}

.container-contacto-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-contacto-parent{
    display: flex;
    flex-direction: row;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* .container-contacto label, .container-contacto h2{
    color: white;
} */

.contacto .btn.btn-round {
    border-radius: 40px;
}

.masInfo > div {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.masInfo h4{
    color: #0077f6c9;
}

.masInfo h5{
    font-size: 100%;
}

.masInfo p{
    color: #495057;
}

.container-contacto{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    width:100%;
}

.form-parent{
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
}

.container-redes .redes{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.masInfo{
    justify-content: center
}

.redes a{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: rgb(94, 93, 93);
}

.redes a:hover{
    color: #313131;
}

.datos{
    padding-top: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    float: left;
    padding-left: 10px;
}

.highlight-container, .highlight {
    position: relative;
}
  

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #0077f6c9;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}

hr{
    margin: 5px;
}